body {
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

main {
  width: 40%;
  min-width: 375px;
}

#map {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#bubblemap {
  width: 500px;
  height: 500px;
}

#legend {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

input {
  cursor: pointer;
}
